<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('translate.title') %>:</strong>
  <%= @book.title %>
</p>

<p>
  <strong><%= t('translate.Memo') %>:</strong>
  <%= @book.memo %>
</p>

<p>
  <strong><%= t('translate.Author') %>:</strong>
  <%= @book.author %>
</p>

<p>
  <strong><%= t 'translate.Picture' %>:</strong>
  <%= image_tag(@book.picture_url) if @book.picture.present? %>
</p>

<%= link_to t('translate.Edit'), edit_book_path(@book) %> |
<%= link_to t('translate.Back'), books_path %>
